<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 단순히 아래처럼 해주어서는 연결이 안된다 
    메인파일(app.js)에서 미들웨어로 연결 해준다  -->
    <script src="/js/home/login.js"></script>
    
    
    <title>Document</title>
</head>

<body>
    <input type="text" placeholder="아이디"><br>
    <input type="text" placeholder="비밀번호"><br>
    <button>로그인</button>
</body>

</html>